<h1>Recently Created Events</h1>

<% @events.each do |event| %>
  <div id="event-title"><h3><%= event.title %></h3></div>
  <div>
    <span><strong>Start Date: </strong><%= event.start_date.strftime("%Y-%m-%d %H:%M:%S") %></span>
    <span><strong>End Date: </strong><%= event.end_date.strftime("%Y-%m-%d %H:%M:%S") %></span>
  </div>

  <div>
    <p>
      <strong>Location: </strong>
    </p>
    <p><%= event.location %></p>
  </div>

  <div>
    <p>
      <strong>Address: </strong>
    </p>
    <p><%= event.address %></p>
  </div>

  <div>
    <p>
      <strong>Agenda: </strong>
    </p>
    <p><%= event.agenda %></p>
  </div>

  <div>
    <p>
      <strong>Tags: </strong>
    </p>
    <p><%= raw event.tags.map {|t| link_to t.name, tag_path(t.name)}.join(", ") %></p>
  </div>

  <div>
    <%= link_to 'Show', event %> |
    <%= link_to 'Edit', edit_event_path(event) %> |
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<br>

<%= link_to 'New Event', new_event_path %>
