<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Agenda:</strong>
  <%= @event.agenda %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= image_tag avatar_url(@event_owner) %>
  <%= User.find(@event.organizer_id).name %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @event.all_tags %>
</p>

<% if current_user.id != @event.organizer_id %>
  <%= link_to 'Join', join_event_path(@event) %> |
<% end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<div>
  <% if current_user.id == @event.organizer_id %>
    <% if @pending_requests.present? %>
      <% @pending_requests.each do |p| %>
        <%= User.find(p.user_id).name %>
        <%= link_to 'accept', accept_request_event_path(:event_id => p.event_id, :attendance_id => p.id) %>
        <%= link_to 'reject', reject_request_event_path(:event_id => p.event_id, :attendance_id => p.id) %>
      <% end %>
    <% end %>
  <% end %>
</div>
