<!DOCTYPE html>
<html>
<head>
  <title>EventRsvp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div>
		<ul class="nav navbar-nav pull-right">
			<% if user_signed_in? %>
				<li><%= link_to current_user.name, edit_user_registration_path(current_user) %></li>
				<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Login', new_user_session_path %></li>
				<li><%= link_to 'Sign up', new_user_registration_path %></li>
			<% end %>
		</ul>
	</div>

	<div>
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: 'alert alert-info') %>
		<% end %>
	</div>

	<div class="col-lg-8">
		<%= yield %>
	</div>

	<div class="col-lg-4">
		<h2>Search Tags</h2>
		<% tag_cloud Event.tag_counts, %w{css1, css2, css3, css4} do |tag, classes| %>
			<%= link_to tag.name, tag_path(tag.name), class: classes %>
		<% end %>
	</div>

</body>
</html>
