<!DOCTYPE html>
<html>
<head>
  <title>EventRsvp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>
	
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: 'alert alert-info') %>
	<% end %>

	<div class="col-lg-8">
		<%= yield %>
	</div>

	<div class="col-lg-4">
		<h2>Search Tags</h2>
		<% tag_cloud Event.tag_counts, ["btn-xs", "btn-sm", "", "btn-lg"] do |tag, classes| %>
			<%= link_to tag.name, tag_path(tag.name), class: "btn btn-warning #{classes}" %>
		<% end %>
	</div>

</body>
</html>
